@import "Regular 400";

body {
  margin: 0;
  padding: 0;
}

main {
  padding: 16px;
  margin-bottom: 50px;
}

footer {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}


img {
  height: 200px;
}

nav {
  color: black;
  border-bottom: 1px;
  padding: 16px;
}

a:hover {
  color: green;
}

a {
  text-decoration: none;
}

.header {
  background-color: #FF5A33;
  /* padding-bottom: 0; */
  text-decoration: none;
}

.footer {
  background-color: #B4CF66;
  padding-left: 20px;
}

.recipe {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item-name {
  color: green;
}

header {
  text-decoration: none;
}

.individual {
  display: inline-block
}

.recipe-name {
  color: green;
}

.hearder-details {
  color: white;
}

tr:nth-child(even) {
  background-color: rgb(171, 171, 171);
}

h1 {
  color: green;
}
